body{
    background-color: black;
    color: white;
}
.recipe-content{
    width: 800px;
    height: auto;
    border: 1px solid white;
}

.recipe-card{
    width: 250px;
    height: auto;
    padding: 5px;
    border: 1px solid white;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: green; */
}
.recipe-card img{
    width: 100px;
    height: 100px;
    position: relative;
    float: right;
    /* right: 0; */
}

body div{
    margin: auto;
}
.parent{
    width: 600px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.click-card-style{
    /* position: relative; */
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    /* visibility:hidden; */
    /* margin-left: 500px; */
    box-shadow:50px white;
    border: 1px solid white;
    cursor: pointer;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
}
.click-card img{
    height: 300px;
    margin-left: 150px;
    width: 300px;
}
.close-card-btn{
    position:absolute;
    margin-left:555px;
}

.search-area{
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 1px solid black; */
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.search-area input{
    height: 20px;
    /* border-radius: 20%; */
}
.search-area input:focus{
    background-color: lightgoldenrodyellow;
}
.search-area button{
    background-color: blue;
    color: white;
    height: 25px;
    border-radius: 10%;
}
.search-area button:hover{
    background-color: rgb(57, 57, 198);
}

.hide-back{
    /* opacity: 0.1; */
    visibility: hidden;
}